@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>Book Details</h1>
</div>

<form action='/book-update/@Model["book"].GetId()' method="post" class="form-group">

  <label for="title">Book Title</label>
  <input type="text" name="title" class="form-control" pattern=".{1,}" required title="One or more characters" value = '@Model["book"].GetTitle()' autofocus>

  <label for="genre">Book Genre</label>
  <input type="text" name="genre" class="form-control" pattern=".{1,}" required title="One or more characters" value = '@Model["book"].GetGenre()'>

  <label for="publish-date">Book publish date</label>
  <input type="date" name="publish-date" class="form-control" required value = '@Model["book"].GetPublishDate().Year.ToString("d4")-@Model["book"].GetPublishDate().Month.ToString("d2")-@Model["book"].GetPublishDate().Day.ToString("d2")'>

  <button type="submit" class="btn btn-success" name="button">Update </button>
</form>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Current Authors:</h3>
  </div>
  <ul class="list-group">
    @foreach(var author in Model["book"].GetAuthors())
    {
      <li class="list-group-item">
        <form action='/book-details/@Model["book"].GetId()/remove-author' method="post">
          <p>
            @author.GetName()
            <button type="submit" class="btn btn-danger delete">X</button>
          </p>
          <input type="hidden" value="@author.GetId()" name="authorToDelete">
          </form>
      </li>
    }
    </ul>
</div>

    <form action='/book-details/@Model["book"].GetId()/author-added' method="post">
      <label for="sel2">Add author(s):</label>
        <select multiple class="form-control" name="authors" required>
          @foreach(var author in Model["authors"])
          {
              <option value="@author.GetId()">@author.GetName()</option>
          }
         </select>

      <button type="submit" class="btn btn-success" name="button">Add author(s)</button>
    </form>
